*hd5
**.ipynb_checkpoints**
*db
.DS_Store*
*pem
.idea
**__pycache__**
/build/
/gPhoton/build/
/gPhoton_old/
/photom/
/test_data/
/gPhoton/_cython_pipe_components.c
/gPhoton/_cython_pipe_components.cpython-39-x86_64-linux-gnu.so
/gPhoton/_cython_pipe_components.pyx
/build_cython_extensions.py
**scratch**
**egg-info**
*.pkl
