*hd5
**.ipynb_checkpoints**
*db
.DS_Store*
*pem
.idea
**__pycache__**
/build/
/gPhoton/build/
/photom/
/test_data/
**scratch**
**egg-info**
*.pkl
*.tar.gz
*htmlcov
*coverage
e*.fits.gz
/holding/
/gPhoton_old/
/gPhoton/test_data/
