line-length = 80
indent-width = 4
target-version = "py310"

[lint]
select = [
  "E4", "E7", "E9", "F",
]
ignore = [
   # better addressed by not using fonts in which l/I/1 or 0/O are
   # visually ambiguous
   "E741",
]
