line-length = 80
indent-width = 4
target-version = "py310"

[lint]
# Selection policy: we want all the lints that address code quality
# issues, rather than code formatting issues, and which reasonably
# seem likely to apply to this codebase.  So for instance we do want
# the NPY lints, but we don't want the FAST lints (irrelevant to this
# codebase) or the E2 lints (which are about code formatting).
#
# To facilitate maintenance, every lint group listed at
# https://docs.astral.sh/ruff/rules/ should be mentioned in the
# array below, commented-out if we have elected not to use it,
# with a short rationale either way.  Furthermore, it should be
# kept in the same order as the groups are listed on that page.
#
# Last updated for ruff 0.11.
select = [
    # "AIR",    # only relevant for codebases using Apache Airflow
    # "ERA",    # we have some intentionally commented out code for docs
    # "FAST",   # only relevant for codebases using FastAPI
    "YTT",      # non-future-proof usage of sys.version(_info)
    # "ANN",    # missing type annotations (TODO: with typing)
    # "ASYNC",  # only relevant to code using async I/O
    # "S",      # potential security issues (TODO: MAST access overhaul?)
    "BLE",      # throwing away exceptions
    # "FBT",    # confusing boolean positional args (TODO: with typing)
    "B",        # probable bugs
    "A",        # shadowed built-in names
    # "COM",    # code formatting (comma placement)
    "C4",       # inefficient use of comprehensions
    # "CPY",    # code formatting (copyright notices)
    # "DTZ",    # only relevant to code that does math on datetime objects
    "T10",      # checked-in pdb breakpoints
    # "DJ",     # only relevant for codebases using Django
    # "EM",     # purely stylistic rules related to exceptions
    # "EXE",    # only relevant for codebases with a lot of scripts
    # "FIX",    # nags you about fixme comments
    # "FA",     # purely stylistic rules related to type annotations
    # "INT",    # only relevant for codebases using gettext
    "ISC",      # questionable uses of implicit string concatenation
    # "ICN",    # purely stylistic rules about imports
    # "LOG",    # only relevant for codebases using the logging module (TODO)
    # "G",      # only relevant for codebases using the logging module (TODO)
    "INP",      # forbids "implicit namespace packages", an easy mistake
    "PIE",      # probable bugs and editing mistakes
    # "T20",    # forbids use of "print" (TODO: with logging)
    "PYI",      # common mistakes in defining interfaces
    # "PT",     # pytest-related common mistakes (FUTURE: when we have tests)
    # "Q",      # purely stylistic rules about quoted strings
    # "RSE",    # more purely stylistic rules related to exceptions
    "RET",      # missing return values
    # "SLF",    # rules about "private" members
    "SIM",      # code that can be simplified
    "SLOT",     # places where you probably forgot __slots__
    # "TID",    # purely stylistic rules about imports
    # "TD",     # nags you about todo comments
    # "TC",     # type annotation-related mistakes (TODO: with typing)
    # "ARG",    # nags you about unused arguments (FUTURE: after API firms up)
    # "PTH",    # enforces use of pathlib (TODO)
    "FLY",      # more cases where code can be simplified
    # "I",      # more purely stylistic rules about imports
    # "C90",    # don't even get me started about McCabe complexity
    "NPY",      # warns about deprecated NumPy APIs
    "PD",       # warns about deprecated Pandas APIs
    # "N",      # PEP8 naming conventions (FUTURE: after API firms up)
    "PERF",     # warns about surprisingly expensive operations
    "E1",       # inconsistent indentation (stylistic but very important)
    # "E2",     # purely stylistic rules about whitespace around operators
    # "E3",     # purely stylistic rules about blank lines
    "E4",       # import-related mistakes
    "E5",       # backslash-related mistakes
    # "E6",     # there are no E6xx rules
    "E7",       # more code that can be simplified,
    # "E8",     # there are no E8xx rules
    "E9",       # I/O errors while running ruff
    "W",        # mechanically correctible, invisible whitespace errors
    # "DOC",    # missing information in docstrings (FUTURE: after API firms up)
    # "D",      # docstring quality issues (FUTURE: after API firms up)
    "F",        # more probable bugs and editing mistakes
    # "PGH",    # lints of lint annotations (TODO: with typing)
    "PLC",      # more code that can be simplified
    "PLE",      # more probable bugs
    "PLR",      # even more code that can be simplified
    "PLW",      # even more probable bugs
    "UP",       # obsolete constructs
    "FURB",     # even more code that can be simplified
    "RUF",      # yet another group of probable bugs
    "TRY",      # yet another group of code that can be simplified
]
# Keep this list sorted by lint group.
ignore = [
    # this would forbid use of 'assert'
    "S101",
    # collapsing if-then-else blocks to ternary expressions often
    # makes them harder to read
    "SIM108",
    # stylistic rules lumped in with the RET group
    "RET505", "RET506", "RET507", "RET508",
    # stylistic rule lumped in with E5
    "E501",
    # better addressed by using fonts in which l/I/1 or 0/O are not
    # visually ambiguous
    "E741",
    # don't want any hard upper limits on function complexity
    "PLR09",
    # "magic numbers"; too many hits, revisit later
    "PLR2004",
    # stylistic rule lumped with UP; I actually want the *exact opposite*
    "UP015",
    # Wants us to define custom exception classes rather than giving
    # detailed messages in Value/RuntimeError constructors.  Unclear
    # whether this is appropriate for us.  Revisit later.
    "TRY003",
    # stylistic rule lumped in with W
    "W505",
]
