name: Basic linting
on: [ push ]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Ruff lints
              uses: astral-sh/ruff-action@v3
              with:
                  version: "latest"
